// breakpoints for media
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

//fonts
@import 'basic-settings/variables';
@import 'common-settings/icons';
@import 'common-settings/include-media';
@import 'common-settings/normalize';
@import 'basic-settings/mixins';
@import 'basic-settings/helpers';
@import 'common-settings/fonts';
@import 'basic-settings/reset';


body {
  color: $base-text-color;
  background: $base-background-color;
  min-width: $base-min-width;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

h2 {
  text-transform: uppercase;
}


.invertor-choose {
  text-align: center;
  .thumbnail {
    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid #000;
      border-radius: 3px;
      text-decoration: none;
      color: #000;
    }
  } 
}

.all-invertors-link {
  a {
    display: inline-block;
    text-transform: uppercase;
    background: orange;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    border-left: 2px solid red;
    border-bottom: 3px solid red;
  }
}

